#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fullscreen {
  margin-top: 2.5rem;
  margin-left: 150px;
}

@media (max-width: 600px) {
  .fullscreen {
    margin-left: 0;
  }

  body {
    transition: margin-top 0.3s ease;
  }
}