.adopt-page {
    text-align: center;
    padding: 20px;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
}

.adopt-page-title {
    margin-top: 30px;
}

.tamagotchi-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.tamagotchi-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    padding-bottom: 5px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.tamagotchi-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.tamagotchi-card.selected {
    border-color: #6b7fbe;
    border-width: 2px;
}

.tamagotchi-card img {
    max-width: 150px;
    max-height: 150px;
}

.name-input {
    margin-top: 20px;
}

.name-input input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
}

.adopt-page-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adopt-page-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 800px) {
    .tamagotchi-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .tamagotchi-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .adopt-page {
        margin-left: 0;
    }
}