.header-container {
    background-color: #5e7e9d;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 150px; /* Navbar width */
    z-index: 1;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .header-container {
        display: none;
    }
}