.home-page {
    max-height: 100vh;
}

.home-page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-logo {
    width: 400px;
    height: auto;
}

.home-cat {
    width: 250px;
    height: auto;
    border-radius: 8px;
    margin-left: 20px;
}

.home-welcome {
    margin-bottom: 20px;
}

.home-explanation {
    text-align: left;
    padding: 0 10px;
}

.home-p {
    display: flex;
    width: auto;
    white-space: nowrap;
    padding: 20px 20px;
}

.earn-gold-button {
    width: auto;
    border-radius: 8px;
}

.button-and-balance {
    display: flex;
    width: auto;
    white-space: nowrap;
    padding: 20px 20px;
    margin-right: 20px;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 800px) {
    .home-page-content {
        flex-direction: column;
    }

    .home-cat {
        margin-left: 0;
        margin-top: 20px;
    }

    .home-p {
        padding: 20px 0;
    }

    .button-and-balance {
        margin-right: 0;
    }
}