.shop {
  margin-top: 65px;
}

.category-title {
  margin: 10px 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#balance {
  position: absolute;
  top: 80px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  transition: margin-top 0.5s ease;
}

.item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.item .item-info {
  flex-direction: column;
  text-align: left;
}

.item p {
  margin: 5px 0;
}

@media (max-width: 800px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .items {
    grid-template-columns: 1fr;
  }
}