.items {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  width: 33.33%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.balance {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #ffffff;
  padding: 0 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.item img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
}

.item .item-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item p {
  margin: 5px 0;
}