/* Shop.css */

.shop-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
    padding-top: 50px;
}

.shop-category {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 80vw;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.category-header h3 {
    font-size: 20px;
}

.category-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding: 10px;
}

.item-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.item-name {
    font-size: 14px;
    font-weight: bold;
}

.item-price {
    font-size: 20px;
    margin: auto;
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #d19fd2;
}