.sign-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
}

.sign-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sign-form label {
    text-align: left;
    padding-top: 20px;
    font-size: 16px;
}

.sign-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
}

.sign-up-button,
.sign-in-button {
    height: 50px;
    background-color: white;
    border: 1px solid #ccc;
}