.work_Header {
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 30px;
}

.work-status-container {
    width: 100%;
    text-align: left;
}

.work-status {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.work-status span {
    width: 20%;
    font-size: 1.2rem;
}

.work-status-bar {
    flex: 1;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.jobs-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
}

.job-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 200px;
  border: 1px solid #2e4357;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.job-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.job-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.job-card p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.claim-reward-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.claim-reward-button:hover {
  background-color: #9cd4ea;
  transform: scale(1.05);
}

.claim-reward-button:active {
  transform: scale(1);
}

.earned-item {
  margin-top: 20px;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Tooltip style */
.tooltip-hunger,
.tooltip-fun,
.tooltip-clean {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  -webkit-text-stroke: 1px black;
}

.tooltip-hunger {
  top: 243px; 
  left: 64%;
}

.tooltip-fun {
  top: 298px;
  left: 64%;
}

.tooltip-clean {
  top: 351px;
  left: 64%;
}

/* Tooltip visible */
.work-status-bar:hover .tooltip-hunger,
.work-status-bar:hover .tooltip-fun,
.work-status-bar:hover .tooltip-clean {
  opacity: 1; /* hover 시 표시 */
}
